# vagrant
.vagrant

# terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

# Environment/key files
.envrc
*.json

# ssh
id_rsa
id_rsa.pub
# ansible
inventory

# direnv
.envrc

# idea
.idea
