# vagrant
.vagrant

# terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

# Environment/key files
.envrc

# VSCode
.vscode

# ssh
id_rsa
id_rsa.pub
# ansible
inventory

# idea
.idea

# nix
.direnv
shell.nix
