conda_store_enabled: false
conda_store_version: "0.3.9"
conda_store_port: "5000"
conda_store_environment: "environments/conda-store.yaml"
conda_store_prefix: "/conda-store"
conda_store_client_id: conda_store
conda_store_client_secret: SUPERSECRETPASSWORDCONDASTORE

# role: minio
minio_username: admin
minio_password: mWdaGyPmNOApU93Vxk6sNTac
minio_port: "9000"

# role: mysql
mysql_databases:
  - slurm
  - conda-store

mysql_users:
  - username: slurm
    password: W9T0N4ejQBR4RmQCU6GmbbZa
    privileges: '*.*:ALL'
  - username: conda-store
    password: eIbmUditL4RbQm0YPeLozRme
    privileges: '*.*:ALL'

# role: keycloak
keycloak_port: "30020"
keycloak_admin_username: "admin"
keycloak_admin_password: XLWUMUu8OG0XqlMREZK9id9o
keycloak_realm: qhub-hpc
