##
## This file is maintained by Ansible - ALL MODIFICATIONS WILL BE REVERTED
##           https://linux.die.net/man/5/exports
##

/nfs_share            0.0.0.0/24(rw,sync,no_root_squash,no_subtree_check)
