##
## This file is maintained by Ansible - ALL MODIFICATIONS WILL BE REVERTED
##            https://slurm.schedmd.com/slurmdbd.conf.html
##

AuthType=auth/munge
SlurmUser=slurm
DbdHost={{ groups['hpc_master'][0] }}

# Configuration options
{% for key in slurm.dbd | sort %}
{% if slurm.dbd[key] != None %}
{{ key }}={{ slurm.dbd[key] }}
{% endif %}
{% endfor %}

# mysql connection information
StorageType=accounting_storage/mysql
StorageHost=localhost
StoragePort=3306
StoragePass={{ mysql.users[0].password }}
StorageUser={{ mysql.users[0].username }}
StorageLoc={{ mysql.database }}