http:
  services:
    jupyterhub:
      loadBalancer:
        servers:
          - url: "http://localhost:{{ jupyterhub.port }}/"
    grafana:
      loadBalancer:
        servers:
          - url: "http://localhost:{{ grafana.port }}/"
    dask-gateway:
      loadBalancer:
        servers:
          - url: "http://localhost:{{ dask_gateway.api_port }}/"

  routers:
    jupyterhub:
      rule: "Host(`192.168.121.50`) && PathPrefix(`{{ jupyterhub.base_url }}`)"
      entryPoints:
        - "web"
      service: "jupyterhub"
    grafana:
      rule: "Host(`192.168.121.50`) && PathPrefix(`{{ grafana.base_url }}`)"
      entryPoints:
        - "web"
      service: "grafana"
    grafana:
      rule: "Host(`192.168.121.50`) && PathPrefix(`/clusters`)"
      entryPoints:
        - "web"
      service: "dask-gateway"
