################################################################
# Global configuration
################################################################
global:
  checkNewVersion: true
  sendAnonymousUsage: false

################################################################
# Entrypoints configuration
################################################################
entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
  metrics:
    address: "localhost:{{ traefik.metrics_port }}"

################################################################
# Transport configuration
################################################################
serversTransport:
  insecureSkipVerify: true

################################################################
# Dynamic configuration
################################################################
providers:
  file:
    filename: "/etc/traefik/traefik_dynamic.yaml"

################################################################
# Monitoring configuration
################################################################
metrics:
  prometheus:
    entryPoint: "metrics"
