################################################################
# Global configuration
################################################################
global:
  checkNewVersion: true
  sendAnonymousUsage: false

################################################################
# TLS Certificates
################################################################
{% if traefik_tls_type == "letsencrypt" %}
certificatesResolvers:
  leresolver:
    acme:
      email: "{{ traefik_letsencrypt_email }}"
      storage: "/etc/traefik/acme/acme.json"
      tlsChallenge: {}
{% endif %}

################################################################
# Entrypoints configuration
################################################################
entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
    http:
{% if traefik_tls_type == "letsencrypt" %}
      tls:
        certResolver: leresolver
{% else %}
      tls: {}
{% endif %}
  jupyterhub-ssh:
    address: ":{{ jupyterhub_ssh_external_port }}"
  dask-gateway-scheduler:
    address: ":{{ dask_gateway_scheduler_external_port }}"
  minio:
    address: ":{{ minio_external_port }}"
    http:
{% if traefik_tls_type == "letsencrypt" %}
      tls:
        certResolver: leresolver
{% else %}
      tls: {}
{% endif %}
  metrics:
    address: "localhost:{{ traefik_metrics_port }}"

################################################################
# Transport configuration
################################################################
serversTransport:
  insecureSkipVerify: true

################################################################
# Dynamic configuration
################################################################
providers:
  file:
    filename: "/etc/traefik/traefik_dynamic.yaml"

################################################################
# Monitoring configuration
################################################################
metrics:
  prometheus:
    entryPoint: "metrics"
